
<%= form_for(@raspi) do |f| %>
  <% if @raspi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@raspi.errors.count, "error") %> prohibited this raspi from being saved:</h2>

      <ul>
      <% @raspi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="title"><%=t title %></div>
  
  <div class="field">
    <%= f.label :label, t(:raspi_label) %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :ipv4, t(:ipv4_address) %><br>
    <%= f.text_field :ipv4 %>
  </div>
  <div class="field">
    <%= f.label :user_id, t(:raspi_owner) %><br>
    <%= f.text_field :user_id %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
    <%= f.submit t(:cancel), type: "button", onclick: "window.history.back()" %>
  </div>
<% end %>
