
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="title"><%=t :new_user %></div>

  <div class="field">
    <%= f.label :username, t(:username) %><br>
    <%= f.text_field :username, size: 4 %>
  </div>
  <div class="field">
    <%= f.label :password, t(:password) %><br>
    <%= f.password_field :password, size: 8 %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation, t(:confirm) %><br>
    <%= f.password_field :password_confirmation, size: 8 %>
  </div>
  <div class="field">
    <%= f.label :cameras, t(:cameras) %><br>
    <%= f.select :cameras, Camera::all.collect { |c| [c.label, c.id ] }, {include_blank: "All"}, {multiple: true} %>
  </div>
  <div class="field">
    <%= f.label :is_admin, t(:is_admin) %>:
    <%= f.check_box :is_admin %>
  </div>
  
  <div id="actions">
    <%= f.submit %>
    <%= f.submit t(:cancel), type: "button", onclick: "window.history.back()" %>
  </div>
<% end %>
