<div id='stable'>

<div class='title'>Listing users</div>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Camera Whitelist</th>
      <th>Administrator?</th>
      <th colspan=2>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td>
          <% unless user.camera_whitelist.empty? %>
            <%= user.camera_whitelist %>
          <% else %>
            <%= 'All cameras' %>
          <% end %>
        </td>
        <td><%= user.is_admin %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New User', new_user_path, method: :get %>

</div>
