<div id='stable'>

<div class='title'>Listing users</div>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Camera Whitelist</th>
      <th>Privilege</th>
      <th colspan=2>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td>
          <%= 'All cameras' %>
        </td>
        <td><%= user.is_admin ? 'Administrator' : 'Viewer' %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to( t( :new_user ), new_user_path, method: :get ) %>
<%= button_to( t( :back ), admin_path, method: :get ) %>

</div>