<div id='video'>
  <% if browser.ios? %>
    <%= render 'hls_video' %>
  <% else %>
    <%= render 'rtp_video' %>
  <% end %>
</div>



Dev Intel:
BROWSER: <%= browser.name %> v<%= browser.version %>
PID: <%= @process_id %>
COM: <%= @vlc_command %>
