<% if flash[:alert] %>
  <div id='alert'>
    Error: <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div id='notice'>
    Notice: <%= flash[:notice] %>
  </div>
<% end %>

<% if session[:user_id] %>
  
  <% if browser.ios? %>
    <%= render 'hls' %>
  <% else %>
    <%= render 'rtsp' %>
  <% end %>
  
<% else %>

  <div id="logo-palazzo">
    <%= image_tag( 'logopalazzo.png' ) %>
    <p>para utilizar este serviço por favor insira suas informações na área de login e senha</p>
  </div>
  <div id="to_center">
    <%= form_tag( 'login' ) do %>
      <div class='field'>
        <%= label_tag( :username, t( :username ) ) %><br>
        <%= text_field_tag( :username, params[:username] ) %>
      </div>
      <div class='field'>
        <%= label_tag( :password, t( :password ) ) %><br>
        <%= password_field_tag( :password, params[:password] ) %>
      </div>
      <div class='actions'>
        <%= submit_tag( t( :login ), data: { disable_with: t( :logging ) }  ) %>
      </div>
    <% end %>
  </div>

<% end %>

<% if Rails.env == 'development' %>
  <%#= render 'devintel' %>
<% end %>
