
<% if flash[:alert] %>
  <div id="alert" title="Click to close">
    Error: <%= flash[:alert] %>
  </div>
<% end %>

<% if flash[:notice] %>
  <div id="notice" title="Click to close">
    Notice: <%= flash[:notice] %>
  </div>
<% end %>

<% if session[:user_id] %>

  <div id="informative">
    <%= image_tag( "uparrow.png", width: 309, height: 214 ) %>
    <p>select a camera from the list above in order to view it.</p>
  </div>
  <div id="video_grid"></div>
  
<% else %>
  
  <div id="informative">
    <%= image_tag( "logopalazzo.png", width: 591, height: 244 ) %>
    <p><%=t :login_intel %></p>
  </div>
  <%= form_tag( "login" ) do %>
    <div id="title">Login</div>
    <div class="field">
      <%= label_tag( :username, t( :username ) ) %><br>
      <%= text_field_tag( :username, params[:username] ) %>
    </div>
    <div class="field">
      <%= label_tag( :password, t( :password ) ) %><br>
      <%= password_field_tag( :password, params[:password] ) %>
    </div>
    <div class="actions">
      <%= submit_tag( t( :login ), data: { disable_with: t( :logging ) }  ) %>
    </div>
  <% end %>

<% end %>

<% if Rails.env == "development" %>
  <%#= render "devintel" %>
<% end %>
