
<%= form_for(@camera) do |f| %>
  <% if @camera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camera.errors.count, "error") %> prohibited this camera from being saved:</h2>

      <ul>
      <% @camera.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="title"><%=t title %></div>
  
  <div class="field">
    <%= f.label :label, t(:camera_label) %><br>
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :ipv4, t(:camera_address) %><br>
    <%= f.text_field :ipv4 %>
  </div>
  <div class="field">
    <%= f.label :username, t(:username) %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :password, t(:password) %><br>
    <%= f.password_field :password %>
  </div>
  
  <div id="actions">
    <%= f.submit %>
    <%= f.submit t(:cancel), type: "button", onclick: "window.history.back()" %>
  </div>
<% end %>