
<div id="tips_box">
  <div id="title"><%=t :tips %></div>
  
  <div class="field" data-form-id="username">
    <%=t :camera_label %>:<p><%=t :tip_camera_label %></p>
  </div>
  
  <div class="field" data-form-id="password">
  <%=t :tcp_ipv4 %>:<p><%=t :tip_tcp_ipv4 %></p>
  </div>
  
  <div class="field" data-form-id="password_confirmation">
  <%=t :username %>:<p><%=t :tip_username %></p>
  </div>
  
  <div class="field" data-form-id="cameras">
  <%=t :password %>:<p><%=t :tip_password %></p>
  </div>
</div>