<div id='stable'>

<div class='title'>Listing cameras</div>

<table>
  <thead>
    <tr>
      <th>TCP/IPv4 Address</th>
      <th>Username</th>
      <th>Password</th>
      <th colspan=2>Options</th>
    </tr>
  </thead>

  <tbody>
    <% @cameras.each do |camera| %>
      <tr>
        <td><%= camera.ipv4 %></td>
        <td><%= camera.username %></td>
        <td><%= camera.password %></td>
        <td><%= link_to 'Edit', edit_camera_path(camera) %></td>
        <td><%= link_to 'Destroy', camera, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Camera', new_camera_path, method: :get %>

</div>