
<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<div id="supertable">
  <div id="title"><%=t :camera_list %></div>
  <table>
    <thead>
      <tr>
        <th><%=t :label %></th>
        <th><%=t :ipv4_address %></th>
        <th><%=t :username %></th>
        <th><%=t :password %></th>
        <th colspan=2><%=t :options %></th>
      </tr>
    </thead>
    
    <tbody>
      <% @cameras.each do |camera| %>
        <tr>
          <td><%= camera.label %></td>
          <td><%= camera.ipv4 %></td>
          <td><%= camera.username %></td>
          <td><%= camera.password %></td>
          <td><%= link_to( t( :edit ), edit_camera_path(camera) ) %></td>
          <td><%= link_to( t( :destroy ), camera, method: :delete, data: { confirm: 'Are you sure?' } ) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= button_to t(:new_camera), new_camera_path, method: :get %>
  <%= button_to t(:back), admin_path, method: :get %>
</div>
