<p id="notice"><%= notice %></p>

<p>
  <strong>Ipv4:</strong>
  <%= @camera.ipv4 %>
</p>

<p>
  <strong>Username:</strong>
  <%= @camera.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @camera.password %>
</p>

<%= link_to 'Edit', edit_camera_path(@camera) %> |
<%= link_to 'Back', cameras_path %>
