<!DOCTYPE html>
<html>
<head>
  <title>BallinMeme</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="superheader">
    <div id="title">Streammie</div>
    <div id="login"><p><br/>
      usuário:
      <input />
      senha:
      <input />
      <button>Login</button>
    </p></div>
    <div id="logo-ib"><%= image_tag( 'logoib.png' ) %></div>
  </div>
  
  <div id="supercontent"><%= yield %></div>
  
  <div id="superfooter">
    <div id="copyrights">Streammie Alpha v0.1 © 2014 IB Tecnologia LTDA</div>
    <div id="qpclogo"><%= image_tag( 'logoqpc.png' ) %></div>
    <div id="admins"><a href="<%= login_path %>"><%= image_tag( 'key.png' ) %></a></div>
    <div id="contact"><%= image_tag( 'mail.png' ) %></div>
  </div>
</body>
</html>
