<!DOCTYPE html>
<html>
<head>
  <title>Streammie</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="superheader">
    <div id="title">Streammie</div>
    <% unless session[:user_id] %>
      <div id="login"><p><br/>
        usuário:
        <input />
        senha:
        <input type='password' />
        <button>Login</button>
      </p></div>
    <% else %>
      Logout
    <% end %>
    <div id="logo-ib"><%= image_tag( 'logoib.png' ) %></div>
  </div>
  
  <div id="supercontent">
    <%= yield %>
  </div>
  
  <div id="superfooter">
    <div id="copyrights">Streammie Alpha v0.1 © 2014 IB Tecnologia & Sistemas LTDA</div>
    <div id="qpclogo"><%= image_tag( 'logoqpc.png' ) %></div>
    <div id="admins"><a href="<%= session[:user_id] ? admin_url : login_url %>"><%= image_tag( 'key.png' ) %></a></div>
    <div id="contact"><a href="mailto:fabioalmeida@ibtecnologia.com.br"><%= image_tag( 'mail.png' ) %></a></div>
  </div>
</body>
</html>
